{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
    
    {% if request.session.error %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ request.session.error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
      
      {% if request.session.success %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ request.session.success }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endif %}
    
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Shopping Cart</h2>
        <hr />
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped
        text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">In Stock</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in template_data.movies_in_cart %}
          <tr class="{% if movie.amount_left == 0 %}table-danger{% elif movie.amount_left < 5 %}table-warning{% endif %}">
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td>${{ movie.price }}</td>
            <td>
              {% if movie.amount_left > 5 %}
                <span class="text-success">{{ movie.amount_left }} available</span>
              {% elif movie.amount_left > 0 %}
                <span class="text-warning">Only {{ movie.amount_left }} left!</span>
              {% else %}
                <span class="text-danger">Out of stock</span>
              {% endif %}
            </td>
            <td>{{ request.session.cart|get_quantity:movie.id }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-end">
        <a class="btn btn-outline-secondary mb-2"><b>Total
          to pay:</b> ${{ template_data.cart_total }}</a>
        {% if template_data.movies_in_cart|length > 0 %}
        <a href="{% url 'cart.purchase' %}"
          class="btn bg-dark text-white mb-2">Purchase
        </a>
        <a href="{% url 'cart.clear' %}">
          <button class="btn btn-danger mb-2">
            Remove all movies from Cart
          </button>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}